<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>上傳</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="../static/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="../static/css/templatemo-style.css">

  </head>

  <body id="reportsPage">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="../admin">
                    <h1 class="tm-site-title mb-0">巴比莱思行政後台</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">
                                <i class="fas fa-tachometer-alt"></i>
                                首頁
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="far fa-file-alt"></i>
                                收入
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'paper' %}">
                                <i class="fas fa-cloud-download-alt"></i>
                                報表
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-cloud-upload-alt"></i>
                                上傳
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'publisher' %}">
                                <i class="fas fa-user"></i>
                                合作出版社
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="{% url 'login' %}">
                              {{user.last_name}} {{user.username}} <b>登出</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-5">
            <!-- row -->
            <div class="row tm-content-row">
              <div class="tm-block-col tm-col-avatar">
                <div class="tm-bg-primary-dark tm-block tm-block-avatar">
                    <div class="row">
                        <div class="col">
                            <p class="text-white mt-5 mb-5">如果有簽新的合約在台灣，記得提供新的出版社資料給孟姝。</p>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label class="btn btn-primary btn-block text-uppercase" >
                            選擇檔案<input type="file" name="files"  id="file-input" multiple style="display: none;">
                        </label>
                        <div id="file-result"></div>
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">上傳文件</button>
                        <div>
                            {% if success_files %}
                                <br><p style="color: white;">文件上傳成功：</p>
                                <ul>{% for file_name in success_files %}
                                    <p style="color: white;">{{ file_name }}</p>
                                    {% endfor %}
                                </ul>
                            {% else %}
                            {% endif %}
                        </div>
                    </form>
                </div>
              </div>
              <div class="tm-block-col tm-col-account-settings">
                <div class="tm-bg-primary-dark tm-block tm-block-settings">
                  <form action="" class="tm-signup-form row">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                          <tr>
                            <th>地區</th>
                            <th>23年8月上傳進度</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>美國</td>
                            <td><div class="tm-status-circle moving"></div>已上傳</td>
                          </tr>
                          <tr>
                            <td>日本</td>
                            <td><div class="tm-status-circle moving"></div>已上傳</td>
                          </tr>
                          <tr>
                            <td>台灣-星際數科</td>
                            <td><div class="tm-status-circle cancelled"></div>尚未上傳</td>
                          </tr>
                          <tr>
                            <td>台灣-shaozhuo</td>
                            <td><div class="tm-status-circle cancelled"></div>尚未上傳</td>
                          </tr>                      
                        </tbody>
                      </table>
                  </form>
                </div>
              </div>
            </div>
          </div>
    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
          Copyright &copy; 2023.Shanghai Papyless All rights reserved.
        </p>
      </div>
    </footer>

    <!-- https://jquery.com/download/ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $(".tm-product-name").on("click", function() {
          window.location.href = "edit-product.html";
        });
      });
    </script>


<script>
$(document).ready(function() {
    // 监听文件输入框的变化事件
    $('#file-input').on('change', function() {
        // 获取所选文件的名称
        var selectedFiles = $(this)[0].files;
        var fileNames = [];
        for (var i = 0; i < selectedFiles.length; i++) {
            fileNames.push(selectedFiles[i].name);
        }

        // 将文件名数组连接成字符串，每个文件名占据一行，并使用<br>标签作为换行标记
        var fileNamesText = fileNames.join('<br>');

        // 更新<div>元素的内容以显示文件名，使用HTML格式
        var fileResultElement = $('#file-result');
        fileResultElement.html('已選擇文件:<br>' + fileNamesText);

        // 设置文本颜色为白色
        fileResultElement.css('color', 'white');

        // 设置字号为较小的大小（例如，10px）
        fileResultElement.css('font-size', '10px');
    });
});
</script>
  </body>
</html>